.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  display: flexbox;
  justify-content: center;
  width: 180px;
  margin: 10px;
  padding: 3px;
  border: 1px solid; 
  border-radius: 5px;
  background-color: lightgrey;
}

.gallery-image {
  /* width: 180px;
  height: 150px; */
  max-width:100%;
  max-height:100%;
}

.love-it-btn {
  width: 170px;
  height: 30px;
  background-color: lightpink;
  border-radius: 10px;
  cursor: pointer;
}

.btn-and-likes {
position: relative;
margin-bottom: 1px;
}

.description {
  position: absolute;
  width: 180px;
  font-weight:bolder;
  color: #000;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
  background-color: rgba(236, 236, 236,  .5) ;
  display: none;
}

.description:hover {
  display: unset;
}

div#description:hover {
  display: unset;
}

body {
    background-image: linear-gradient(lightblue, grey);

}